body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App{
  height: 100vh;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.product-edit-list {
  border : 1px black solid;
  background-color: red
}

.log-in-form{
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0px;
  margin-right: 20%;
  border: 0px;
  padding: 0px;
}

.log-in-form-logo-div{
  background-color: MediumSeaGreen;
  width: 40%;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.log-in-form-logo{
  color: white;
  padding-top: 20%;
  font-size: 100px;
}

.log-in-or-sign-up{
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.sign-up-button-div, .log-in-header-div, .chosen-button-div{
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.chosen-button-div{
  background-color: MediumSeaGreen;
  color: white;
}

.user-name-input{
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 10px;
  padding-top: 10%;
}

.user-name, .password, .button-log-in {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 5%;
}

.error{
  font-size: 30px;
}

.routes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.go-to-products:hover, .go-to-waste:hover, .go-to-home:hover {
  background-color: white;
  color: MediumSeaGreen;
}

.go-to-products, .go-to-waste, .go-to-home{
  display: flex;
  border: 1px white solid;
  flex-grow: 1;
  justify-content: center;
}

.all-products-div{
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.product-post-form{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10%;
}

.all-products{
  display: flex;
  flex-grow: 1;
  padding: 7%;
}

.product-name, .product-category, .product-price, .product-unit, .product-add-button{
  margin-bottom: 10px;
  margin-top: 10px;
  height: 5%;
}

.product-add-button{
  background-color: MediumSeaGreen;
  color: white;
}

.product-list-object{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: dashed 1px MediumSeaGreen;
  width: 500px;
}

.product-list-header{
  color: MediumSeaGreen;
  border-bottom: solid MediumSeaGreen 1px;
}

.product-list-edit-button{
  background-color: MediumSeaGreen;
  color: white;
}

.title-logout-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logout-button{
  background-color: white;
  color: MediumSeaGreen;
}

.App-title{
  display: flex;
  flex: 0 1 auto;
  position: absolute;
  left: 48%;
}

.product-add-error{
  display: flex;
  justify-content: center;
}
